.dropdown-container {
  font-size: 2rem;
  width: 20rem;
}

.dropdown-btn {
  font-size: 1em;
  width: 20rem;
  background-image: linear-gradient(blue, purple);
  color: white;
}

.items-container {
  display: flex;
  flex-direction: column;
  display: none;
  font-size: 1em;
  background-image: linear-gradient(purple, blue);
}

.dropdown-item {
  background-image: linear-gradient(purple, blue);
  font-size: 1em;
  color: white;
}