.dropdown-container {
  font-size: 2rem;
  width: 20rem;
}

.dropdown-btn {
  font-size: 1em;
  background-image: linear-gradient(to right, rgb(128, 0, 128), rgb(55, 0, 255));
  color: white;
  width: auto;
  text-align: center;
  width: 20rem;
}

.items-container {
  display: flex;
  flex-direction: column;
  display: none;
  font-size: 1em;
}

.dropdown-item {
  background: linear-gradient(45deg, rgb(128, 0, 128), rgb(55, 0, 255));
  font-size: 1em;
  color: white;
  text-align: center;
  text-decoration: none;
}

.dropdown-item:hover {
  background: linear-gradient(45deg, rgb(129, 50, 129), rgb(122, 85, 255));;
}